@import url('https://fonts.cdnfonts.com/css/cursed-timer-ulil');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #1B244A;
}

h1{
    letter-spacing: .5rem;
    color: #F94F6D;
    text-align: center;
    font-size: 10rem;
    text-transform: capitalize;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80%;
}

h3{
    font-weight: 700;
    font-size: 8rem;
    text-align: center;
    color: #EEEEEE;
    padding: 4rem 0;
    margin-bottom: 5rem;
}

#homeResult,
#guestResult{
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-weight: 400;
    font-size: 11rem;
    text-align: center;
    color: #F94F6D;
    margin-bottom: 5rem;
}

button{
    padding: 2rem;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    font-family: 'Cursed Timer ULiL';
    font-weight: 400;
    font-size: 8rem;
    text-align: center;
    color: #9AABD8;
    margin-right: 1rem;
}

#reset{
    display: flex;
    justify-content: center;
    align-items: center;
}

#reset-btn{
    color: black;
}


            /* <div>
                <h3>HOME</h3>
                <h4 id="homeResult">0<h4>
                <button onclick="homeIncrementOne()">+1</button>
                <button onclick="homeIncrementTwo()">+2</button>
                <button onclick="homeIncrementThree()">+3</button>
            </div>
            <div>
                <h3>GUEST</h3>
                <h4 id='guestResult'>0</h4>
                <button onclick="guestIncrementOne()">+1</button>
                <button onclick="guestIncrementTwo()">+2</button>
                <button onclick="guestIncrementThree()">+3</button>
            </div> */